
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #777;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 20px;
}

section ul li h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

section ul li p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #777;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.skill {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skillProgress {
    margin-top: 10px;
}

.skillProgress__bar {
    height: 10px;
    border-radius: 5px;
}

.skillProgress__bar--5 {
    width: 100%;
    background-color: #4caf50;
    /* Green */
}

.skillProgress__bar--4 {
    width: 80%;
    background-color: #8bc34a;
    /* Light Green */
}

.skillProgress__bar--3 {
    width: 60%;
    background-color: #cddc39;
    /* Lime */
}

.skillProgress__bar--2 {
    width: 40%;
    background-color: #ffeb3b;
    /* Yellow */
}

.skillProgress__bar--1 {
    width: 20%;
    background-color: #ffc107;
    /* Amber */
}