/* styles.css */

/* Color Variables */
:root {
    --background-color: #f4f4f9;
    --text-color: #333;
    --primary-color: #ff6f61;
    --secondary-color: #ff9f80;
    --section-background-color: #fff;
    --border-color: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
        --color-skill-bg: #f9f9f9;
            --color-skill-bar-5: #4caf50;
            --color-skill-bar-4: #8bc34a;
            --color-skill-bar-3: #cddc39;
            --color-skill-bar-2: #ffeb3b;
            --color-skill-bar-1: #ffc107;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "info photo";
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 20px;
}

.contact-info {
    grid-area: info;
}

.contact-info h1 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.contact-info p {
    margin-bottom: 5px;
}

.motto {
    font-style: italic;
    color: var(--secondary-color);
}

.photo {
    grid-area: photo;
}

.photo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid var(--primary-color);
}

main {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-areas:
        "skills experience"
        "education education";
    gap: 20px;
}

.skills,
.experience,
.education {
    background: var(--section-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    border: 1px solid var(--border-color);
}

.skill {
    border-bottom: 2px dotted var(--border-color);
    padding-bottom: 10px;
}   

.education {
    grid-column: 2 / -1;
}

.experienceItem {
    border-bottom: 2px dotted var(--border-color);
    padding-bottom: 10px;
}

.experienceItem .period {
    font-style: italic;
    color: var(--secondary-color);
    font-size: smaller;
}

.experienceItem .client {
    color: var(--secondary-color);
}
.experienceItem .challenges ul {
    list-style-type: none;
    padding-left: 0;
}

.experienceItem .challenges ul li {
    position: relative;
    padding: 0;
    padding-left: 30px;
    border: none;
}

.experienceItem .challenges ul li::before {
    content: "👉";
    /* Pointing finger emoji */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    line-height: 1.2em;
}

.skills h2,
.experience h2,
.education h2 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.skills ul,
.experience ul,
.education ul {
    list-style-type: none;
}

.skills ul li,
.experience ul li,
.education ul li {
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
}

.skills ul li:last-child,
.experience ul li:last-child,
.education ul li:last-child {
    border-bottom: none;
}

.skillProgress {
    margin-top: 10px;
}

.skillProgress__bar {
    border-radius: 10px;
    font-size: smaller;
    padding: 0 15px;
}

.skillProgress__bar--5 {
    width: 100%;
    background-color: var(--color-skill-bar-5);
}

.skillProgress__bar--4 {
    width: 80%;
    background-color: var(--color-skill-bar-4);
}

.skillProgress__bar--3 {
    width: 60%;
    background-color: var(--color-skill-bar-3);
}

.skillProgress__bar--2 {
    width: 40%;
    background-color: var(--color-skill-bar-2);
}

.skillProgress__bar--1 {
    width: 20%;
    background-color: var(--color-skill-bar-1);
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "experience"
            "skills"
            "education";
    }

    .header {
        grid-template-columns: 1fr;
        grid-template-areas:
            "info"
            "photo";
        text-align: center;
    }

    .photo img {
        width: 80px;
        height: 80px;
    }
}