---
import SkillsList from "./skills-list.astro";

const { name, skills } = Astro.props;
---

<div class="skills">
  {
    skills.map((x: { name?: string; skills: any }) => (
      <div class="skill">
        {name}
        <SkillsList skills={skills} />
      </div>
    ))
  }
</div>
