---
const { skills } = Astro.props;
---

<div class="skill">
  {
    skills.map((x: { name?: string; level?: string }) => (
      <div class={`skillProgress `}>
        <div class={`skillProgress__bar skillProgress__bar--${x.level}`}>
          {x.name}
        </div>
      </div>
    ))
  }
</div>
