---
const { skills } = Astro.props;
---

<div class="skill">
  {
    skills.map((x: { name?: string; level?: string }) => (
      <div>
        {x.name}
        {x.level}
      </div>
    ))
  }
</div>
